<div id="<%= dom_id tutor %>">
  <p>
    <strong>Id:</strong>
    <%= tutor.id %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= tutor.start_date %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= tutor.subject %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= tutor.location %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= tutor.description %>
  </p>

  <p>
    <strong>Degree:</strong>
    <%= tutor.degree %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= tutor.email %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= tutor.phone_number %>
  </p>

  <p>
    <strong>Login:</strong>
    <%= tutor.login_id %>
  </p>

</div>
