<div id="<%= dom_id user %>">
  <p>
    <strong>Start date:</strong>
    <%= user.start_date %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= user.phone_number %>
  </p>

  <p>
    <strong>Login:</strong>
    <%= user.login_id %>
  </p>

</div>
