<!DOCTYPE html>
<html>
  <head>
    <title>Korepetycje</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <% if logged_in? %>
      Zalogowany jako <%= current_login.username %>
      <%= link_to "Profil", logins_path + "/" + current_login.id.to_s %>
      <%= link_to "Wyloguj", logout_path, data: { turbo_method: :delete } %>
    <% else %>
      <%= link_to "Zaloguj", login_path %>
    <% end %>
  </body>
</html>
